body {
  display: flex;
  flex-align: center;
  margin: 0;
  background-image: url("/public\space-paul-volkmer-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
